table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid #ddd;
    padding: 14px;
    text-align: center;

}
th{
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}
tr:nth-child(even){
    background-color:white;

}
tr:hover{
    background-color: lightgray; 
}